[2021-07-31 14:42] FrankTN opened #4 "[BUG] Tests not working in 11-graphql-interaction"
Running 'example widget test' does not work currently, the line `await initHiveForFlutter();` runs indefinitely.
This line is required for the GraphQL interaction code to run properly, it initializes a Hive (lightweight db for Flutter), however this does not currently work. When debugging I saw that it gets stuck trying to create a new box, line 30 in the initHiveForFlutter() function,  `await Hiv

[2021-07-31 14:49] FrankTN opened #5 "[QUESTION] What do we think about null-safety?"
**Problem**
Null safety is not implemented in a few dependencies yet (listed below), so I have to run the app in PyCharm with the `--no-sound-null-safety` flag. I would like to discuss what we can do about this, personally, the idea of null safety sounds like a nice feature to have so I think we should work towards enforcing it, but a significant amount of libraries don't seem to be supporting it

[2021-08-02 09:13] rubenhorn commented on #4
Strangely I can't even start the app on this branch:
[code]
I've tried `flutter clean` and `flutter pub cache clean`, but it does not help.

[2021-08-02 09:23] rubenhorn commented on #5
I agree that we should try to have sound null safety and we will probably introduce more non null safe code in the future.   Regarding how to deal with it I propose the following strategy:

- If possible, all code must be null safe (enforced by reviewer)
- If not (trivially) possible, this must be addressed in a new / added to an existing tech debt task
- Tech debt tasks must rise in priority over

[2021-08-02 10:50] MaschavanderMarel commented on #4
I was able to run the app by `flutter run --no-sound-null-safety ` if memory serves me right.

[2021-08-05 15:37] FrankTN commented on #5
For now updating the packages to their latest versions has worked, so I think we can mark this issue as resolved. Perhaps we can reopen if we encounter this issue again at a later stage.

[2021-08-05 15:37] #5 closed

[2021-08-05 15:42] FrankTN commented on #4
It should work now, the null-safety checks were added and I updated everything to the latest version.
I have found that I can run the tests if I ensure the correct bindings are initialized (using `TestWidgetsFlutterBinding.ensureInitialized();`), now all that is left is to mock the Http responses, as normal requests are blocked by the test suite.

[2021-08-19 13:18] #4 closed

[2021-08-26 22:25] Xazin opened #14 "[BUG] Generated files included in repo"
Reporter: @rubenhorn

Description: Generated files (freezed, json serializable, etc.) are tracked.

Creating this issue to track fix outside of jira.

[2021-08-27 09:33] #14 closed, assigned to nobody

[2021-08-28 11:58] rubenhorn opened #18 "[Android | Design] App switcher background color"
The background of the top bar in the app switcher does not match the background color of the app icon.
This makes the rectangular icon stand out compared to other apps and doesn't look too nice.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Open app switcher

**Expected behavior**
The background color of the top bar in the app switcher should exactly match the background co

[2021-08-28 14:25] Xazin commented on #18
I have made a task for this in our to-do. Good catch!

[2021-08-28 14:57] Xazin commented on #18
I checked how the logo looks on my device, and here are some screenshots, maybe we can fix this as well. Need correct resolutions for icons.

Screenshots:
![image](https://user-images.githubusercontent.com/42929161/131222089-dd7cf37f-e797-4c42-b8e4-92add966d705.png)
![image](https://user-images.githubusercontent.com/42929161/131222133-200f335f-4a8f-4896-8927-9d4e69688b10.png)

[2021-08-28 15:30] rubenhorn commented on #18
The tool I used to generated the icons from a single image file said not to use a margin (because of iOS).
(Also this was only an interim solution so we don't have the default app icon anymore).
Maybe we should also "fix" this on iOS at the same time so we know it looks good on every platform.
It also generates a 1k icon for the AppStore on iOS, so the input image should have a sufficient resoluti

[2021-08-28 19:06] #18 closed

[2021-08-31 05:54] rubenhorn opened #24 "[BUG]: App bar"
**Describe the bug**
The design of the app bar could be improved on.
When scrolling on a longer page it does not look very good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to feedback form
2. Write a multiline feedback
3. Scroll down

**Expected behavior**
The entire app bar should have a white background.
The back icon should be higher resolution.
No content should be visible throug

[2021-08-31 09:38] #24 closed

[2021-08-31 15:24] Xazin opened #26 "[Bug] Menu drawer does not open"
**Issue:** On my device, clicking the menu button does not open, I can drag the menu open from the icon though.

**Line of Code:**
https://github.com/CollActionteam/collaction_app/blob/d6abf5411f4d73a4b4c755b907ed5f8552c886d0/lib/presentation/home/home_screen.dart#L28

[2021-08-31 18:12] Xazin commented on #26
@rubenhorn Can you check? I also get this whilst running on the emulator, once the menu has been opened once it can't be opened again unless you use the drag.

@sudo-saksham Can you take a look Saksham?

[2021-09-06 07:06] sudo-saksham commented on #26
On my device, the drawer opens when I click on the icon.
https://drive.google.com/file/d/1D0Rd0Fi64Ah-FFvTtakVRGdmo2akFfbS/view?usp=sharing

[2021-09-06 08:35] Xazin commented on #26
That is weird. I will try to reproduce and give concrete steps. Maybe it is device specific? (Android SDK)

[2021-09-07 07:00] sudo-saksham commented on #26
Yeah, I guess it is device specific. Try to reinstall the app.

[2021-09-09 15:46] yasht01 commented on #26
Its working fine on my device on clicking the menu button as well as on dragging.

https://user-images.githubusercontent.com/55907631/132718543-6af1206a-43b9-4d39-8c21-953ec71b6032.mp4

[2021-09-10 17:09] Xazin commented on #26
I have been able to reproduce it on all devices so far.

https://user-images.githubusercontent.com/42929161/132891521-d4032393-6b81-40c8-a190-844b96b373b1.mp4

[2021-09-11 13:20] yasht01 commented on #26
Yeah! Its happening on my device too.

[2021-09-18 13:31] rubenhorn opened #36 "[BUG]: Default settings value on first app start is not updated automatically"
**Describe the bug**
Configurations should be provided as a stream so the UI can update accordingly

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall previous version of the app
2. Install the app (debug build)
3. Open the demo screen
4. Observe: Registration is disabled (default value) although this does not correspond to the latest remote config
5. After closing and re-opening the

[2021-09-22 13:22] #36 closed

[2021-10-01 21:19] Xazin opened #40 "[BUG]/[iOS]: Appbar Return Button"
**Describe the bug**
In the appbar, the return button is not visible

**To Reproduce**
- All appbars with a return button

**Expected behavior**
The return button shouldn't be white in the appbar

**Screenshots**
![](https://cdn.discordapp.com/attachments/750996484530634833/893607695532326922/Simulator_Screen_Shot_-_iPhone_13_-_2021-10-01_at_22.48.12.png)
![](https://cdn.discordapp.com/attachments

[2021-10-01 21:21] Xazin opened #41 "[BUG]/[iOS]: Onboarding inside safearea"
**Describe the bug**
The bottom part of the onboarding, the grayish container, doesn't take up the safearea.

**Screenshots**
![](https://cdn.discordapp.com/attachments/750996484530634833/893607693678424084/Simulator_Screen_Shot_-_iPhone_13_-_2021-10-01_at_22.47.21.png)

**Device information:**
 - Device: iPhone 13
 - OS: iOS 15.0
 - Version + build number: 1.0.1+1

[2021-10-02 11:18] rubenhorn commented on #40
This bug also appears on Android (build 144)

[2021-10-23 21:42] rubenhorn opened #49 "[BUG]: Text says 4 instead of 6 digit code"
**Describe the bug**
The screen to enter the OTP says 4 digit code, but it's 6.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign up with a phone number
2. On OTP screen the text does not match the code length

**Device information:**
 - Device: Axon 7
 - OS: Android 8.0.0
 - Version + build number: 1.01+169

[2021-12-02 14:51] rubenhorn opened #70 "[CI/CD]: Perfect release notes"
Remove rogue quotes from release notes:
![image](https://user-images.githubusercontent.com/5367484/144444362-ca80b014-3fe7-4802-849c-c0c377218f25.png)
File and line: https://github.com/CollActionteam/collaction_app/blob/development/.github/workflows/ci.yml#L90

...and maybe also include the author name after the commit hash with `Author: $(git log -1 --pretty=format:'%an')`.

⚠ Do NOT make a separ

[2021-12-05 14:31] cmedamine opened #76 "[Docs]: Add Contribution Guide"

[2021-12-05 16:01] Xazin commented on #76
This is delayed for the current foreseeable future. We have a SDLC document for the internal team, and we have no view on allowing external PRs currently. We will be adding a contribution guide as soon as we decide our team is mature enough to handle external contributions, and when we have decided on all details.

I think we can keep this open for at least until v1 have been pushed to Master prop

[2021-12-05 18:41] #49 closed

[2021-12-05 23:37] rubenhorn opened #77 "[BUG]: Crash when trying to upload profile picture"
**Describe the bug**
App crashes when trying to upload a profile picture.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through sign up flow
2. Click on (+) for uploading profile picture when prompted
3. Select select image source
4. App crashes

**Stack traces**
[code]
[code]

**Device information:**
 - Device: moto g(9) play
 - OS: Android 11
 - Version + build number: 1.0.1+252

[2021-12-06 00:25] Xazin commented on #77
This seems to be caused by bad state management. I will try to reproduce tomorrow and let you know what I find.

[2021-12-07 19:47] yasht01 commented on #77
Hey, me and Saksham had look at this. We just had to add `<activity>` tag for allowing UCropActivity into the AndroidManifest.xml.

[ImageCropper Docs](https://pub.dev/packages/image_cropper#how-to-install)

[2021-12-08 08:43] Xazin commented on #77
@yasht01 will you create a PR with the fix?

[2021-12-08 10:23] yasht01 commented on #77
@Xazin Sure! I'll be working on uploading profile picture to the backend too. Will make a combined PR then

[2021-12-09 20:17] Xazin commented on #76
This is a WiP!
[Contributing Guidelines](https://github.com/CollActionteam/collaction_app/blob/doc/contributing/docs/CONTRIBUTING.md)

[2021-12-10 08:23] rubenhorn opened #79 "[SUGGESTION]: Pre-commit checks"
Issues with the script:
- Missing `#!/bin/sh` in the first line
- The exit code of the formatting operation is not used: https://github.com/CollActionteam/collaction_app/blob/development/cl.sh#L2

Suggestion:
- Rename script to `./hooks/pre-commit`
- Create a script `./install-hooks` that executes `cp ./hooks/* ./.git/hooks/` (should work with both bash and cmd)

[2021-12-10 08:31] rubenhorn opened #80 "[SUGGESTION]: Review text in app"
- [ ]  ["CollAction is an application powered by the crowd the more the better"](https://github.com/CollActionteam/collaction_app/blob/development/lib/presentation/crowd_action/pages/widgets/share_collaction_card.dart#L55)
Should be _"the more, the better"_
(Also, it seems some punctuation or parenthesis would make it easier to read: _". The more, [...] ."_ or _"(the more, [...] )"_)

[2021-12-10 08:32] rubenhorn commented on #80
Please add additional content revision requests to the list of tasks.

[2021-12-10 16:37] Xazin opened #82 "[Task]: Go through all text displayed and update it according to design"

[2021-12-10 16:37] Xazin opened #83 "[Feature]: Implement repository logic for subscribe and unsubscribe"

[2021-12-10 16:38] #82 closed

[2021-12-10 17:14] #70 closed

[2021-12-10 19:41] Xazin opened #85 "[BUG]: Double clicking share button"
**Describe the bug**
When I double click the "Share CollAction" button on the home screen, the share sheet opens twice and can be closed twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app on home screen
2. Click two time on "Share CollAction"

**Expected behavior**
The button should be disabled either until the share sheet is closed or with a small delay to make sure that op

[2021-12-12 12:35] Xazin opened #88 "[Feature]: Implement Snackbars for errors and swap 'error text widgets'"
**Feature:**
We should swap out all Text widgets that display failures such as "NetworkRequestFailed" with something like "No Spotlight CrowdActions right now! Look back alter" and some generic icon. This should be done everywhere where an error may displayed with information that is irrelevant for the user.

**Expected Behavior:**
A network request failure happens when loading Spotlight CrowdActi

[2021-12-13 06:44] rubenhorn opened #89 "[BUG]: Back icon on contact form"
**Describe the bug**
Icon of back button not positioned correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open contact form

**Screenshots**
![Screenshot_20211213-074135.png](https://user-images.githubusercontent.com/5367484/145764633-83cba39e-d2e0-493b-8495-60124fba36c3.png)

**Device information:**
 - Device: moto g9 play
 - OS: Android 11
 - Version + build number: 1.0.0+264

[2021-12-13 06:48] rubenhorn opened #90 "[BUG]: Featured carrousel position indicator"
**Describe the bug**
Position indicator does not stay in play when scrolling through carousel.

**To Reproduce**
Steps to reproduce the behavior:
1. Open home page
2. Scroll through carousel

**Expected behavior**
Position indicator stays in place and is updated to show current position.

**Screenshots**
![Screenshot_20211213-074540.png](https://user-images.githubusercontent.com/5367484/145765263-

[2021-12-13 06:55] rubenhorn opened #91 "[BUG]: Chip for sub-category missing"
**Describe the bug**
While the chip for the category (e.g. sustainability) is displayed, the chip for the sub-category (e.g. food) is missing from the crowdaction card/details page.

(Should they also be displayed on the list items?)

**To Reproduce**
Steps to reproduce the behavior:
1. Open main screen/crowdaction details page

**Screenshots**
![Screenshot_20211213-075058.png](https://user-images

[2021-12-13 09:55] wizlif commented on #91
We are assuming that the `subcategory` will be `null` sometimes, so we do hide it if it is not provided in the data.
[code]

[2021-12-13 10:12] #91 closed

[2021-12-13 10:20] rubenhorn opened #93 "[SUGGESTION]: Pull to refresh"
**Is your feature request related to a problem? Please describe.**
As a user, I want to be able to explicitly reload content in the app without having to "cold start" it.

**Describe the solution you'd like**
"Pull-to-refresh" on the main/home page (and other  pages such as crowdaction list or crowdaction details).

**Describe alternatives you've considered**
Upon returning to a page (comes to for

[2021-12-13 15:02] yasht01 commented on #89
@rubenhorn I think this issue came up after Isaac added custom icons inplace of `.png` images. I'll have a look at this.

[2021-12-13 20:28] yasht01 commented on #85
I tried to think of a solution for this by adding a `Future.delayed()`. It works for now.

https://gist.github.com/yasht01/ab96bf8927014485462957f0ec4aa4c7

[2021-12-14 09:45] rubenhorn opened #94 "[Feature]: "Lockdown mode" after MVP phase"
**Functionality:** Upon resuming or starting the app, the current date should be checked and compared to the MVP deadline. If the MVP phase has ended, instead of the app's content a captive page is displayed.

Implement a condition with a static date for 31st of January 23:59, show captive page if after this date.

**Captive page content:**
See Figma for content

**Captive page design:**
See Figma

[2021-12-16 16:05] laschnik commented on #88
Snackbar component:
https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=1371%3A11484

[2021-12-17 10:17] Xazin opened #95 "[Feature]: Use content placeholder where applicable"
**Description:**
Instead of displaying 'errors' directly to the user, we should use the content placeholder and display a snackbar error instead. For all received Failures display a snackbar, for all received failures where content can no longer be defined, use content placeholder and show snackbar.

- See Figma for content placeholder design. Check the Figma comment on content placeholder design

[2021-12-20 04:26] #83 closed

[2021-12-20 21:11] Xazin opened #98 "[Task]: Restructure files and folders"
We need to make sure the folder structure remains clean, in an effort to improve on this, we should go through all folders and files, check for wrong nesting of folders, wrong naming, wrongly placed files (unrelated to parent), etc.

Below is an image of an example of how the structure is broken. In the presentation layer this is how it should look:
  -- **crowdaction/**
  --- **pages/**
  ---- **

[2021-12-20 21:47] #90 closed

[2021-12-21 13:39] Xazin commented on #94
Captive page design is now in figma

[2021-12-23 14:35] rubenhorn opened #103 "[Distribution]: Update app icon and push to AppStore"
(see Slack message in #app 2021-12-23 3:30PM)

- [x] Update app icon
- [x] App icon sizes are generated in CI
- [x] Upload app icon to AppStore (also use CI?)

[2021-12-24 13:11] #88 closed

[2021-12-24 13:13] #77 closed

[2021-12-27 16:30] rubenhorn opened #107 "Debug/dev features in release builds"
The "Demo Screen" should only exist/be accessible in debug builds, not in release-builds!

[2021-12-27 17:37] Xazin commented on #107
I did this in my PR

[2021-12-31 14:14] rubenhorn opened #109 "[BUG]: iOS distribution is failing"
see https://github.com/CollActionteam/collaction_app/runs/4674097429?check_suite_focus=true#step:3:1

[2022-01-01 18:00] #109 closed

[2022-01-01 18:01] rubenhorn commented on #109
Will be resolved by accepting the updated Apple developer terms.

[2022-01-02 22:10] rubenhorn opened #110 "Implement TODOs on settings screen"
see https://github.com/CollActionteam/collaction_app/pull/104/files#diff-60a7b5b3b34f992bc69aa4d8100ee0e5c623a64f79f4ef364589adb8ac19c21b

[2022-01-03 06:19] #89 closed

[2022-01-03 06:19] #98 closed

[2022-01-03 06:19] #107 closed

[2022-01-03 11:16] rubenhorn opened #113 "Hide features in profile that are "work in progress""
"Unfinished apps" may be rejected from the AppStore. 👉 Consider hiding the tabs from the profile for now.

![image](https://user-images.githubusercontent.com/5367484/147924616-48618c1d-e1c2-45b5-bde1-dc02e661c07d.png)

[2022-01-03 14:41] #103 closed

[2022-01-03 15:34] rubenhorn opened #117 "[BUG] Shows registration instead of onboarding"
This method should call `context.router.push(const OnboardingRoute());` instead, but if I change it I always get an exception: `[Root Router] Router can not navigate to onboarding`.

_Originally posted by @rubenhorn in https://github.com/CollActionteam/collaction_app/pull/106#discussion_r777266870_

[2022-01-03 15:37] #94 closed

[2022-01-03 22:13] #117 closed

[2022-01-04 00:25] rubenhorn opened #124 "Link terms and privacy policy on phone number screen"

[2022-01-04 00:48] rubenhorn opened #125 "Display/update participant count"
Display total participants in a crowdaction (according to the design):
* [ ] Participant count is displayed on featured card of a crowdaction
* [x] Participant count is displayed on the crowdaction detail page
* [x] After joining, the participant count is incremented by 1 (local change only)
* [x] After leaving, the participant count is decremented by 1 (local change only)

[2022-01-04 01:51] rubenhorn opened #127 "Apply rounded corners to UI in auth flow"
See [design](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=1606%3A10269).

[2022-01-04 04:23] #124 closed

[2022-01-04 05:09] wizlif opened #129 "[BUG]: CrowdAction Participation Screen Overflow"
The `participate in crowdaction` dialog overflows when description is too long

Steps to reproduce the behavior:
1. Go to a crowdaction's details with a long description
2. Click on participate
4. See a bottom overflow error

**Expected behavior**
Large content should be scrollable

**Screenshots**
![Screenshot_20220104_075803](https://user-images.githubusercontent.com/15793624/148012167-e06e896b-

[2022-01-04 11:41] #113 closed

[2022-01-04 14:47] yasht01 commented on #85
@Xazin this issue still persists after merging #104 . I have proposed a fix for this above. Can I go ahead and implement this?

[2022-01-04 15:07] rubenhorn commented on #129
This is already fixed/will be fixed by #132

[2022-01-04 15:07] #129 closed

[2022-01-04 15:09] yasht01 commented on #127
@rubenhorn I had completed working on this in #84 . Can you have a look at it after I fix the merge conflicts?

[2022-01-04 16:28] rubenhorn commented on #127
Sure. So you are working on resolving them atm?

[2022-01-04 16:30] yasht01 commented on #127
Yeah. The PR has been open for quite some time that's why some of the latest changes have created merge conflicts.

[2022-01-04 19:28] rubenhorn commented on #125
Displaying the participant count on the featured card is not trivial and not as important for the MVP.

[2022-01-04 19:28] #125 closed

[2022-01-04 20:00] rubenhorn opened #135 "Indicate target environment on settings page"
Show the target environment in the app, so that testers can see which backend is being used.
* Add variable to .env files (dev/prod)
* Display target environment type on settings screen

[2022-01-04 21:16] #80 closed

[2022-01-04 21:20] #85 closed

[2022-01-04 21:20] #110 closed

[2022-01-04 23:28] Xazin commented on #127
PR has been merged and this issue should be resolved.

[2022-01-04 23:28] #127 closed

[2022-01-05 00:49] rubenhorn opened #141 "[SUGGESTION]: Deploy appbundle to Firebase Distribution"
Instead of APKs, distribute app bundles to testers using Firebase Distribution using GitHub Actions.
* [x] App is live on Google Play
* [x] Workflow step for building and signing APK is removed
* [x] Workflow step for uploading build to Firebase uploads app bundle instead

[2022-01-05 10:13] rubenhorn opened #142 "[BUG]: Only count as onboarded if onboarding was completed"
Bug: If the user closes the app before completing the onboarding, it is not shown on the next app start.

[2022-01-05 10:16] rubenhorn opened #143 "[SUGGESTION]: View onboarding from settings"
If the user wants to view the onboarding again, they could be able to start it again from the settings screen.
👉 Add button to settings screen "What are crowdactions?" that pushes the onboarding route.

(Relates to #142)

[2022-01-05 10:26] rubenhorn opened #144 "[BUG]: Icons on settings page"
* [ ] Use different icon for external links (opens web browser)
* [ ] Use correct icon for logout from design

(see https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=1609%3A12826)

[2022-01-05 11:05] yasht01 opened #145 "[BUG]: Unable to update profile photo and bio in User Profile screen"
**Describe the bug**
App does not update profile photo and bio after clicking on `Save changes` button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to User Profile screen
2. Click on `Edit profile`
3. Add a new profile photo and bio
4. Click on `Save changes`
5. Relaunch the app or log out and log in again.

**Expected behavior**
New profile photo and bio should be displayed on the Us

[2022-01-05 11:15] yasht01 commented on #144
@rubenhorn so will the external link icon be replaced for `Terms of use`, `Privacy Policy` and `Open Source`?

[2022-01-05 11:16] rubenhorn commented on #144
Yes, but this is probably not a priority for the MVP

[2022-01-05 12:44] rubenhorn commented on #145
Updating the bio worked for me, but I the profile picture stays the same (maybe it was due to the content moderation... I will have to check the server logs)

[2022-01-05 14:38] #142 closed

[2022-01-05 15:19] #144 closed

[2022-01-05 19:43] yasht01 commented on #145
I tested this again using the test number and updating profile picture works fine now. (Only thing it took some time to update it on the app)

[2022-01-05 20:54] Xazin commented on #145
I have tried multiple things, without success. On a test number as well.

[2022-01-06 07:44] rubenhorn commented on #145
@yasht01 so we can rule out any issues with the backend?

[2022-01-06 08:06] sudo-saksham commented on #145
@yasht01 For some reason, when I'm relaunching the app the profile photo isn't restored.

Also, I think if the user's profile is being updated/loaded there should be a loading spinner or something while the process is being executed. Otherwise, it shows Create a/c or sign in while it is leading which might confuse the user.
Any thoughts?? @Xazin @wizlif

[2022-01-06 09:28] sudo-saksham commented on #145
Update: It was restored but it takes some 5-10 seconds to update the profile photo. So, I think the issue is the duration of fetching profile photo. @Xazin @yasht01 @rubenhorn

[2022-01-06 09:34] wizlif commented on #145
Profile photos could be large, was there any image optimization done by the backend for profile photos.

[2022-01-06 09:49] yasht01 commented on #145
Update: Updating the bio works fine but updating the profile picture is working sometimes. It worked for the first time with me but next two attempts did not. Same was the case with @sudo-saksham

[2022-01-06 14:37] yasht01 commented on #145
While debugging the app I noticed that after uploading the image using PUT request successfully, the new profile picture is not updated on the `/profile-pictures` endpoint.

[2022-01-06 20:30] rubenhorn commented on #145
The app should enforce that the image is valid.
![image](https://user-images.githubusercontent.com/5367484/148446408-7af09559-d76d-4358-abd8-724e2c5262bc.png)

The following should be enforced in the app:
* < 5MB
* 250-1024px
* 1.0 aspect ratio

The user should maybe be notified that the image has been uploaded but will be moderated for content first. (pop-up)
Similarly, if the image does not matc

[2022-01-06 20:38] rubenhorn commented on #145
We could resize the image to the preferred size regardless: https://stackoverflow.com/a/49701775

[2022-01-06 21:13] rubenhorn opened #154 "[SUGGESTION]: Network image loading indicator"
Add loading indicator to all network images

[2022-01-06 21:13] rubenhorn opened #155 "[SUGGESTION]: Screen loading indicator"
Add loading indicator to screens:
* [x] Crowdaction details
* [x] Profile

[2022-01-06 21:19] rubenhorn opened #156 "[SUGGESTION]: Used cached network image for crowdactions"
Use https://pub.dev/packages/cached_network_image for banner and card images to reduce the load on the backend and the data consumption of the app and increase performance.

[2022-01-06 21:40] rubenhorn commented on #145
The issue of the image not updating is due to the use of the Cloudflare CDN.
We will have to invalidate the cache on the backend when a new profile picture is updated.

For now, we could notify the user that it may take up to 24h to update the profile picture (in the same pop-up where we inform them about content moderation)

Thoughts?

[2022-01-07 01:45] Xazin commented on #155
Let's discuss this shortly after MVP is released. I believe we were thinking of going with shimmer loading, by following Niklas skeleton design. It should be fairly simple to implement, and also has a UX benefit.

[2022-01-07 09:10] wizlif commented on #156
I'm working on this

[2022-01-07 09:39] yasht01 commented on #145
For the first version, the pop-up workaround can be done if there is no quick fix for updating the profile picture.

[2022-01-07 09:41] wizlif commented on #145
How would that work ??

[2022-01-07 09:43] wizlif commented on #145
How would that work ??

[2022-01-07 09:45] yasht01 commented on #145
On clicking the `Save Changes` button, a snack bar can be shown to notify the user that updating the picture can take some time. I think this was what Ruben was saying above.

[2022-01-07 11:42] wizlif commented on #154
I've done this for the details page using shimmer. Other images only use a provider. I'm not sure how we can implement those.

[2022-01-07 16:49] rubenhorn commented on #145
closed by #157

[2022-01-07 16:49] #145 closed

[2022-01-07 17:11] rubenhorn opened #161 "[SUGGESTION]: Build information on settings page"
Show information about the current build on the settings page:
* [x] Build number
* [x] Version name (e.g. 1.0.1)
* [ ] Commit hash (?)
* [x] Target environment (dev/prod, replaces #135)

[2022-01-07 17:11] #135 closed

[2022-01-09 00:23] Xazin commented on #161
I'm not sure about the commit hash. And for the target environment, as long as we don't include it in release builds then it should be good.

[2022-01-09 00:25] Xazin commented on #143
Let's ask Niklas to put it in the design so we can implement this with the correct text.

[2022-01-09 00:29] Xazin commented on #93
Let's describe the feature and the technical details a bit more so it's easier for someone to pick it up, will look at it after MVP if needed.

But sounds like a good idea to have, otherwise content can be easily outdated, and if you go to the app from a sleeping state the data won't necessarily be representative anymore.

[2022-01-10 10:31] rubenhorn opened #167 "[SUGGESTION]: Open links in webview during auth"
On the login/registration page(s), links should be opened in the app instead of an external web-browser, so the user is not "kicked out of the auth flow".

* [ ] Use webview on legal links in auth flow
* [ ] Since the plugin opens the webview in fullscreen on Android, create a custom screen with an app bar and embedded webview for Android (see https://github.com/CollActionteam/collaction_app/blob/

[2022-01-10 10:39] rubenhorn commented on #79
May replace https://github.com/CollActionteam/collaction_app/blob/development/cl.sh

[2022-01-10 21:48] #76 closed

[2022-01-10 21:48] #156 closed

[2022-01-10 22:39] rubenhorn opened #171 "[SUGGESTION]: Trigger CI manually"
Add support for manually running GitHub action workflows.

(see https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow)

[2022-01-10 23:34] rubenhorn opened #173 "[SUGGESTION]: Build and upload debug symbols"
![image](https://user-images.githubusercontent.com/5367484/148855002-300a5ef5-189d-45cd-b01b-ba8c7df54368.png)

[2022-01-11 17:39] akshaykumaru18 commented on #167
I would wish to take this up an issue and implement

[2022-01-11 19:00] Xazin commented on #141
@rubenhorn Status? 😂

[2022-01-11 19:00] wizlif commented on #161
Is this already included in the design ??

[2022-01-11 19:08] Xazin opened #175 "[Feature]: Implement widgets to accomodate commenting"
In the near future, we want to allow users to comment on a crowd action, users must be signed in to leave a comment, and for users not logged in they should see a CTA register or login (See design).

**Acceptance criteria:**
- Component for section divider on Crowdaction Details Screen (comments section)
- Vertical ListView of comments, in posted at timestamp ascending (newest first)
- Comment Com

[2022-01-11 19:34] rubenhorn commented on #141
Will tackle this after the app is live 😉

[2022-01-11 19:44] Xazin opened #176 "[Feature]: Implement the up-to-date onboarding design"
The onboarding in the MVP is not up-to-date with the design. Implement the UI changes to conform with the onboarding design from Figma.

**Acceptance Criteria:**
- Onboarding fits the design and conforms to UX Copy (See Google Drive for UX Copy)
- Images are currently pixelated in the app (on devices) investigate why this is happening and improve quality

[2022-01-11 19:51] Xazin opened #177 "[Feature]: add share FAB above settings FAB"
The share floating action button should open the Share app modal (See other implementations for reference).

**Acceptance Criteria:**
- Tapping the share FAB will open the share functionality
- The Settings and Share FAB have different heroTags
- The Settings and Share FAB should be refactored to be stacked above the Column inside the SingleChildScrollView so that it doesn't interfere with the spl

[2022-01-12 10:27] laschnik commented on #161
Will take care of it today

[2022-01-12 15:16] laschnik commented on #161
- [Link to Figma frame](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=1269%3A19263)
- [Emoji image asset](https://drive.google.com/open?id=1LiXaPml-BujdftWAW_f6R5Hja3AZmkxJ&authuser=niklas%40collaction.org&usp=drive_fs)
- Text Style: Body
- Color: primary/100

[2022-01-12 16:40] rubenhorn commented on #161
@Xazin Is the commit hash and the environment name "prod"/"dev" sensitive information?
Maybe we should set up an internal datastore for build information where we can look up details by build number. (This for some reason does not seem possible with GitHub actions)

[2022-01-12 16:54] Xazin commented on #161
Sensitive no, internal yes. It's not something a user should see. Commit hash can be discussed, but the environment, makes not much sense tbf.

[2022-01-12 17:27] rubenhorn commented on #161
Maybe just add it, if it's not the production environment, so we don't accidentally submit/test the wrong build?

[2022-01-18 18:23] wizlif opened #182 "[BUG]: No padding for password dialog"
Padding missing for crowdaction password input message
![Screenshot_20220118-211436](https://user-images.githubusercontent.com/15793624/149995781-c63be207-25c3-435e-855e-4d77e665249d.jpg)

[2022-01-18 18:28] rubenhorn commented on #182
@wizlif Which device and screen size did you find this on?

[2022-01-18 18:32] wizlif commented on #182
My android

[2022-01-18 18:34] wizlif commented on #182
Samsung Galaxy J6 720 X 1480 Pixels

[2022-01-20 09:59] mumin-ahmod commented on #182
Can I work on this issue?

[2022-01-20 10:29] Xazin opened #183 "[Feature]: Align disabled button with design"
The disabled button on the CrowdAction Details Screen should not be opaque, it should align with design and have the same disabled state that is used elsewhere.

**Acceptance Criteria**
- Align all Pill Buttons with UI

**Design**
Active Color: Accent/500 (#2EB494)
Active Text Color: Secondary (#F9F9F9)

Disabled Color: Primary/0 (#EFEFEF)
Disabled Text Color: Primary/300 (#999999)

![image](https

[2022-01-20 10:41] Xazin opened #184 "[Feature]: Changes to the "Sign up now" chip"
The first chip on all CrowdActions is the "Sign up now" chip, the text should now be conditionally changed to "Open" when `Date Now` is past or equal to `dateLimitJoin` OR IF past or equal to `dateEnd` fields from the respective CrowdAction, and otherwise, it should say "Closed" and the chip color should be changed to Primary/200 (#999999).

.. Very straightforward.

[2022-01-20 10:46] Xazin opened #185 "[Feature]: Grey out commitments when participating"
We want to have a clear indication of when a user can interact with the commitments on the CrowdAction details screen.

**Stroke:** primary/0
**Fill:** secondary
**Title:** primary/300
**Description:** primary/200

**Acceptance Criteria**
- The disabled commitments must fit the design

[2022-01-20 17:37] Xazin commented on #182
Yes of course, feel free to open a PR.

[2022-01-21 14:08] tomsiebring commented on #167
Hi @akshaykumaru18. How's it going?

[2022-01-23 13:01] #141 closed

[2022-01-23 14:45] rubenhorn opened #187 "[BUG]: Increment iOS version"
**Describe the bug**
TestFlight rejects build using a version that is already published to the AppStore:
`ERROR ITMS-90186: "Invalid Pre-Release Train. The train version '1.0.1' is closed for new build submissions"` (see https://github.com/CollActionteam/collaction_app/runs/4912894886?check_suite_focus=true#step:3:492)

TODO: Increment version identifier in pubspec.

[2022-01-23 14:46] rubenhorn commented on #187
This should be done as a chore after every release!

[2022-01-24 19:26] Xazin commented on #175
@wizlif Hey Isaac, let me know if I can help you with anything here! 👍

[2022-01-24 19:45] Xazin commented on #154
@yasht01 If you need help let me or @wizlif know 👍

[2022-01-25 18:06] Xazin commented on #187
Let's add this to the deploy process (Which we will need to write out for future reference 👍)

[2022-01-26 20:52] Xazin opened #190 "[Feature]: Truncate description and add More/Less functionality"
We will truncate the description on the CrowdAction Details screen to show only up to 200 characters (Substring of description 0, 200), and then append an ellipsis at the end.

When the description is collapsed it will show 200 characters + ellipsis, followed by a "Read more" button that will expand the description to its full body length.

When the description is expanded it will show the full de

[2022-01-26 20:58] Xazin opened #191 "[Feature]: Add Lock icon to CrowdActions with Password"
For the MVP we solved this by adding our lock icon on the image content, since we already have the lock icon, we should make a component for it and add it to the CrowdAction Cards and if needed on the CrowdAction details screen.

This feature will be defined more once the design is finished.

[2022-01-26 22:35] Xazin opened #192 "[Bug]: Remove elevation from navigation bar"
We currently have a minor elevation on the navigation bar, it should be removed to align with the design.

**Acceptance Criteria:**
- BottomNavigationBar doesn't have shadows

[2022-01-28 10:45] #176 closed

[2022-01-28 10:46] #187 closed

[2022-01-28 11:57] laschnik commented on #175
Design is done!
**Components**: https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=2788%3A18373
**Flows**: https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=1606%3A10204

**Please note**

- text input field appears in cases 5), 6) when reaching comment section
- show newest 10 comments by default, if more > **_view more comments_** button, on submit: sh

[2022-01-28 13:41] Xazin commented on #175
What about the case when one have liked a comment?

[2022-01-28 13:48] laschnik commented on #175
@Xazin are you referring to the appearance of the heart icon in this case? https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=2788%3A18234

[2022-01-28 13:50] Xazin commented on #175
Yes indeed.

What about when flagging a comment, should we have a dialog where the user can at least choose a reason why?

[2022-01-28 13:59] laschnik commented on #175
See the attached photo for the current intended behaviour. Let's keep it simple for now. If the amount of reported – and non-categorized – comments becomes an issue for us to scan at one point, we can implement selecting a (custom) reason (or multiple). Dont think this is necessary for now. Agree?

<img width="1038" alt="Bildschirmfoto 2022-01-28 um 14 55 37" src="https://user-images.githubusercon

[2022-01-28 13:59] wizlif commented on #175
Yea, the flagging could have predefined reasons list (Offensive ...)

[2022-01-28 14:06] wizlif commented on #175
Something like this.

![20220128_170454.jpg](https://user-images.githubusercontent.com/15793624/151560626-4c2bd51b-881c-469f-be23-c19cc9d71fe0.jpg)

[2022-01-28 14:39] Xazin commented on #175
It's good to think about this before we define the entity for the backend anyway.

[2022-01-29 10:11] wizlif commented on #192
Could you share a description of the issue ... still can't figure it out.

[2022-01-29 16:10] Xazin commented on #192
BottomNavigationBar by default has 8 elevation if elevation isn't defined. Change the elevation property of `BottomNavigationBar` to `elevation: 0.0`

[2022-01-30 16:43] wizlif commented on #184
Isn't it only open before the dateEnd
OR IF `before` or equal to `dateEnd`

[2022-01-30 19:21] #192 closed

[2022-01-31 05:39] #184 closed

[2022-01-31 05:46] wizlif commented on #173
[https://stackoverflow.com/questions/70466166/error-on-firebase-crashlytics-installation-for-flutter-ios-app](https://stackoverflow.com/questions/70466166/error-on-firebase-crashlytics-installation-for-flutter-ios-app)

[2022-01-31 11:22] laschnik commented on #175
<img width="441" alt="Bildschirmfoto 2022-01-31 um 12 20 53" src="https://user-images.githubusercontent.com/44906984/151785073-7f397bc7-494b-4646-ac13-415a8ecfd2cb.png">

[Figma frame](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-MVP?node-id=978%3A10486
)

Reused the chip component for selecting one or multiple reasons for reporting.

[2022-02-06 08:20] rubenhorn opened #196 "Deactivate captive screen"
In order to test new builds internally, the captive screen should be disabled.

[2022-02-06 09:16] Xazin commented on #196
Should we remove it completely?

[2022-02-06 09:42] rubenhorn commented on #196
No, I think we should just deactivate the condition.
We might want to re-use this later.

[2022-02-06 10:17] Xazin commented on #196
Alright, we should probably change how this functions at some point, such that a new update isn't needed to turn on/off the captive page next time we use it.

[2022-02-07 19:57] rubenhorn opened #197 "[Bug]: Icon for OSS Licenses Item is wrong"
~~**What?** Replace link to repo with screen listing the OSS libs and corresponding licenses (see [design](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=2436%3A16750))~~

~~**How?** using https://pub.dev/packages/flutter_oss_licenses~~

**Edit:**
Change the icon on the settings screen for OSS Licenses, since it's no longer an external link.

[2022-02-08 06:14] wizlif commented on #197
Wasn't that already done ?
![Screenshot_20220208-091357.jpg](https://user-images.githubusercontent.com/15793624/152929016-4fdbc3c8-761d-41ce-acf5-a13088c8b00f.jpg)

[2022-02-08 07:38] rubenhorn commented on #197
True.
In that case, only the icon of the list item on the settings page should be chaned, since it's no longer an external link.

[2022-02-08 07:41] Xazin commented on #197
Do we know which icon?

[2022-02-08 07:53] rubenhorn commented on #197
![Screenshot_20220208-085146-489.png](https://user-images.githubusercontent.com/5367484/152942094-9433b5f7-d6d3-4175-84a3-72c3277ead47.png)

It should have the same icon as "Contact us".

[2022-02-08 13:25] laschnik commented on #185
Design is done. Deactivated variant of the CommitmentCard.
<img width="550" alt="Bildschirmfoto 2022-02-08 um 14 22 52" src="https://user-images.githubusercontent.com/44906984/152995669-1a0dd68d-f3d2-4351-894e-d6c802db6737.png">

- stroke: primary/0
- fill: secondary
- title: primary/300
- description: primary/200

@Xazin could you change the description of this ticket accordingly? Thanks a lot!

[2022-02-08 13:43] laschnik commented on #143
<img width="601" alt="Bildschirmfoto 2022-02-08 um 14 40 10" src="https://user-images.githubusercontent.com/44906984/152998633-4f2c23be-38c9-4836-83b9-3e4a16bd2e6b.png">

Design done. Regarding the label of this list item, let's call it what it is: _onboarding_
Icon ([rocket.svg](https://drive.google.com/file/d/1sSxbzTA9kdnTxccvFBv886rrENcVz-VN/view)) is in the icon folder

[2022-02-08 18:35] Xazin opened #198 "[Task]: Upgrade flutter and dependencies"
Flutter has released a new version and we should upgrade flutter, update all dependencies that don't clash, and migrate any breaking changes.

This ticket does not need to be described, I will take care of it.

[2022-02-10 11:44] laschnik commented on #197
https://drive.google.com/open?id=1FSlPa71-ZQrjTn0DR83Z-VDlKc6d32YH&authuser=niklas%40collaction.org&usp=drive_fs

[2022-02-10 11:47] #198 closed

[2022-02-10 17:04] yasht01 commented on #79
Does the `--dry-run` flag work now as it does not appear as a flag on running `flutter format --help`?
If the intention is to not fix the code and only send the output code then we can use `-o none` flag [as this does the intended thing](https://dart.dev/tools/dart-format).

[2022-02-10 17:14] yasht01 commented on #79
Also, we can just run `flutter format --set-exit-if-changed .` if we need to automatically fix any style errors.

[2022-02-10 17:19] Xazin commented on #79
The pre commit check fails a commit if one check fails. But hooks, like a CICD pipeline, should never introduce code changes.

Instead when you make a commit, the pre commit hook should be triggered, it will run the checks (formatter, analyzer) and tell you what's wrong.

[2022-02-10 17:39] yasht01 commented on #79
Okay so do we need to show the files that need to be formatted in the output or it should just return with the exit code?

[2022-02-11 14:41] yasht01 commented on #79
@rubenhorn I think Git for Windows installs Git bash by default so will there be a need to create cmd script?

[2022-02-11 15:11] laschnik commented on #191
- [Card L](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=221%3A1362)
- [CrowdAction banner](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=2074%3A22423)

Note that the component is the FAB mini without shadow

No Card S design as of yet

[2022-02-11 16:47] rubenhorn commented on #79
Yes, I think there is no such thing as Git without Bourne (Again) Shell aka (ba)sh

[2022-02-12 07:40] sudo-saksham commented on #177
I can work on this issue, therefore I am assigning assigning this to myself.

[2022-02-12 10:33] #79 closed

[2022-02-12 11:20] #196 closed

[2022-02-12 11:21] #197 closed

[2022-02-12 11:21] #183 closed

[2022-02-12 12:18] #143 closed

[2022-02-12 13:15] sudo-saksham commented on #177
#207

[2022-02-12 13:35] #177 closed

[2022-02-13 05:44] sudo-saksham commented on #154
Since, Yash is working on some other issue. I'm assigning this issue to myself.

[2022-02-15 20:25] #167 closed

[2022-02-21 20:55] rubenhorn opened #211 "[SUGGESTION]: Use first and last name instead of "display name""
To encourage users to use their real names, we should ask for first and last name in the app and concatenate them into the display name.
* This requires changes to the account creation and (edit) profile page.
* It should still be possible to resolve the individual first an last name to e.g. greet the user by first name only
* It should still be possible to show the display name and it should appe

[2022-02-22 07:59] rubenhorn opened #212 "[BUG/SUGGESTION]: Navigation bar on webview screens"
Considering the design of the website linked in the app, we should maybe switch to having a "floating close (x) button" on the right with a transparent navigation bar imstead of the current design:
![Screenshot_20220222-085616-792.png](https://user-images.githubusercontent.com/5367484/155087768-9c8b4deb-bfc5-4918-bce3-b5fee107b8de.png)

[2022-02-22 07:59] Xazin commented on #211
@laschnik Can you make this change in the registration screens, to split up the display name to be first name and last name? Both fields will be required and have a minimum of 2 characters.

[2022-02-23 12:28] laschnik commented on #212
You are right! See [here](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=1269%3A19394) for design
What are you referring to with navigation bar?

[2022-02-23 12:34] laschnik commented on #211
@Xazin yup, I'll take care of that. @rubenhorn did Tom tell you that we will have First + Last + automatically generated unique userId (which the user can change if desired)?

[2022-02-23 12:42] rubenhorn commented on #211
Is this necessary? We already have a unique user id (although the user cannot change it) as well as a unique phone number.

[2022-02-23 12:46] rubenhorn commented on #212
It's hard to see in this screenshot, but the button for navigating back does not float over the content (white row at the top ...do you call this top bar or navigation bar? 🤔).
If you scroll the content does not extend to the top of the screen but instead disappears behind this white bar.

[2022-02-23 13:07] Xazin commented on #211
I also don't think it's necessary, since we don't have mentioning users we don't need this right? We can go on with just first + last name.

[2022-02-24 16:57] Xazin commented on #211
@laschnik @rubenhorn
Ruben, Tom, and I discussed this last Monday and decided to just go with the solution that Ruben described in this ticket.

If we ever need some functionality where we have to change this, we can implement it then, for now it doesn't make much sense to do so.

[2022-02-24 17:19] #185 closed

[2022-02-24 18:01] wizlif commented on #211
So would we allow the 3 name scenario for Last name field ??

[2022-02-24 18:43] rubenhorn commented on #211
I think it is up to the user if they want to have `<FIRST FIRST NAME><SECOND FIRST NAME>...` and/or `<FIRST LAST NAME><SECOND LAST NAME> ...`.
This would only affect them if, at some point, we display only one of the two parts. However I would also consider this to be a less critical edge case.

[2022-02-24 18:46] rubenhorn commented on #212
I think the content should scroll "behind a transparent app bar". (Invisible app bar / appearance of floating close button)
Alternatively I think the app bar should display some sort of title (determined when launching this screen) to not be so empty.

[2022-02-24 18:56] Xazin commented on #212
We can easily do a title, but we can as easily implement the transparent appbar.

[2022-02-24 19:15] rubenhorn commented on #212
You mean can NOT easily implement transparency?

[2022-02-25 11:03] laschnik commented on #211
Alright. As long as users will be able to find and mention people without using that unique identifier, I'm perfectly fine with this. As a user I would expect it to work similarly to a facebook search/mention, whereas people closest to my network appear first and people further away with same name appear last.

[2022-02-25 11:09] laschnik commented on #212
I prefer a transparent appbar. Such that it looks like this:
<img width="356" alt="Bildschirmfoto 2022-02-25 um 12 08 17" src="https://user-images.githubusercontent.com/44906984/155705114-bd4d3fdc-e4c9-49c8-9146-9368f83b8f46.png">

[2022-02-25 11:13] Xazin commented on #212
Haha no, I meant it, both solutions are trivial. We just need to decide on one.

I also prefer transparent appbar for the pages, but the page would start at top of the screen, I cannot guarantee that it would look nice.

I will check this out later today and upload a picture so we can make a decision.

[2022-02-25 11:19] laschnik commented on #191
[Card S
](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=387%3A1802)
Component: FAB mini without drop shadow
Icon: icon _lock-sm_
Dimensions differ from FAB mini: 32px x 32 px (should be exactly the same height as the _now open_ chip)

<img width="617" alt="Bildschirmfoto 2022-02-25 um 12 16 08" src="https://user-images.githubusercontent.com/44906984/155706193-a9fef87b-42

[2022-02-25 11:30] laschnik commented on #211
Just updated it in the flows
[Registration flow](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=1269%3A19207)
[Settings page](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=1269%3A19263)

[2022-03-05 04:30] yasht01 commented on #93
@rubenhorn Which elements of the the Details screen need to be updated for pull to refresh?

[2022-03-05 08:40] rubenhorn commented on #93
I suppose everything that could be expected to change within a short time.
(Maybe this just encompasses the participation count and top participants?)

[2022-03-08 14:13] laschnik commented on #155
Components with skeleton variant
[Title](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=2504%3A17241)
[Card small](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=387%3A1802)
[Invitation](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=1617%3A13040)
[Card large](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-

[2022-03-08 14:43] laschnik opened #214 "[SUGGESTION]: *New design* Editing profile picture and bio"
**Is your feature request related to a problem? Please describe.**
The edit profile button is currently very prominent, while the things a user can edit at this point are very limited (only profile picture and about me/bio.

**Describe the solution you'd like**
See updated component [profile header](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=964%3A9600)

**Describe or

[2022-03-14 19:10] #191 closed

[2022-04-05 20:15] #182 closed

[2022-04-06 02:40] #93 closed

[2022-04-08 20:58] #154 closed

[2022-04-26 16:49] Xazin commented on #214
I have some feedback here, let's do a Des x Dev next week (Tuesday 3rd of May) so we can also catch up 😄

[2022-04-26 20:17] #161 closed

[2022-04-27 08:56] #212 closed

[2022-04-28 12:11] laschnik commented on #214
Lets do it. Curious to hear your feedback

[2022-05-04 12:17] Xazin opened #221 "[DEFECT]: Align Chips with design"
**Describe the defect**
The Chips Widgets used on CrowdAction Cards are not aligned with the design.

We will only display text inside the Chip, and the text style must be aligned with `caption 2` (See [Figma](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=221%3A1290)).

Depending on the Status of the CrowdAction, the label should change accordingly:
[code]

**This ticket

[2022-05-04 14:59] Xazin commented on #214
We discussed this yesterday in the meeting, Niklas will update here when it's ready.

[2022-05-05 11:39] laschnik commented on #214
There you go @Xazin @yasht01
<img width="1043" alt="Bildschirmfoto 2022-05-05 um 13 37 41" src="https://user-images.githubusercontent.com/44906984/166915795-a4f7c638-007d-455c-a35e-394ac3f26b20.png">

[Figma](https://www.figma.com/file/dYFW0QF7Fg10dpSIxA3wQb/CollAction-App?node-id=964%3A9600)

[2022-05-10 17:15] Xazin opened #222 "[UnitTest] Setup 100% Coverage on all Repositoryes"
TBD

[2022-05-19 11:18] Xazin commented on #222
@yasht01 @sudo-saksham
We can slowly start on this, feel free to just pick up anyone at any given time, and simply let eachother know when there's a new PR 👍

[2022-05-19 11:23] sudo-saksham commented on #222
Yeah, cool. I prefer starting with the lower level. So maybe writing unit tests for model classes.

[2022-05-19 11:34] Xazin commented on #222
You can write Tests for the DTO's, more specifically from and to json.

I'll create another Issue with the DTOs we need to write tests for and what type of tests.

[2022-05-19 11:39] Xazin opened #224 "[UnitTest]: Implement testing on all DTOs"
As part of the effort of implementing high coverage in our application, we will need to implement tests for all of our data transfer objects known as DTOs.

For each DTO, we will need:

- A fixture of a CrowdAction's raw JSON as well as the same transformed into a CrowdAction Model.
- Test of the `toDomain()` functionality
- Test of the `fromJson()` functionality

**The DTOs we need to implement t

[2022-05-19 11:41] Xazin commented on #222
@sudo-saksham #224
This one is fairly straightforward.

[2022-05-19 11:46] Xazin opened #225 "[UnitTests] Additional Infrastructure Tests"
In an effort to raise our test coverage, there are additional parts of the infrastructure that needs to be tested, aside from repositories.

**Implement tests for:**
- [ ] Firebase Auth Singleton
- [ ] Http Singleton
- [ ] Injection

[2022-05-21 06:04] sudo-saksham opened #226 "Setting up Codecov for checking test coverage report."
For detailed test coverage report, need to set up Codecov with GitHub actions so that it could track the coverage percentage of this whole application.

[2022-05-21 08:09] Xazin commented on #226
Let me know if you need help with Github Workflow 👍

[2022-05-28 06:54] sudo-saksham commented on #226
It's done. Checkout the coverage at: https://app.codecov.io/gh/CollActionteam/collaction_app

[2022-05-28 06:54] #226 closed

[2022-05-31 06:30] sudo-saksham commented on #224
#233 : added tests for Profile DTOs.

[2022-06-27 07:23] glitchpop-frenzy opened #251 "[VERSION]: Upgrading the Flutter version to 3.0.3"
We need to upgrade Flutter to version `3.0.3` and dependencies to the latest compatible version.

[2022-06-27 09:22] glitchpop-frenzy commented on #251
Resolved: #253

[2022-06-27 09:22] #251 closed

[2022-08-25 10:43] rubenhorn opened #262 "[BUG]: Profile picture not cleared on logout"
**Describe the bug**
After logging out, the old profile picture is still shown in the profile tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in
2. Make sure profile picture is set
3. Go to settings
4. Log out
5. Profile picture is still shown (!)

**Expected behavior**
Profile picture should be cleared on logout.

**Device information:**
 - Device: Moto G9 Play
 - OS: Android 11
 -

[2022-08-26 10:57] wizlif opened #263 "[SUGGESTION]: Remove contact button from Settings"
![Simulator Screen Shot - iPhone 13 - 2022-08-26 at 13 54 56](https://user-images.githubusercontent.com/15793624/186889022-87a4169a-f03f-4c72-8c25-1d289932714a.png)

[2022-08-26 11:55] rubenhorn commented on #263
Relates to https://github.com/CollActionteam/collaction_api/issues/35
(We should mention this in a TODO comment)

[2022-08-27 14:38] #263 closed

[2022-09-06 17:22] Xazin opened #275 "[BUG]: Autofill from SMS does not work"
**Describe the bug**
We are not able to paste the 6-character OTP pin and autofill

**Expected behavior**
When pasting or receiving an SMS from Firebase with the 6-character pin, autofill the code in the best way possible.

**Reference**
https://pub.dev/packages/pinput

[2022-09-06 17:26] Xazin opened #276 "[FEATURE]: Prepare and Clean CrowdActionDetailsScreen"
Resolved by #281

[2022-09-06 17:38] wizlif opened #277 "[SUGGESTION]: Profile image placeholder"
Profile image is always empty for an unauthenticated user / one where the profile URL is broken.
We could have a placeholder & only show the skeleton for the loading procedure.
![WhatsApp Image 2022-09-06 at 20 36 16](https://user-images.githubusercontent.com/15793624/188702771-9a6bc2bf-af80-41f3-be37-ec4f9f3803b4.jpeg)

[2022-09-12 03:40] #275 closed

[2022-09-12 19:34] #276 closed

[2022-09-12 19:37] Xazin commented on #221
This is ready, it should be rather easy.

```isOpen ? "Now open" : (isEnded ? "Finished" : "Currently running")```

[2022-09-12 19:40] Xazin commented on #155
I think this is more or less resolved. - If not we can reopen, but closing it for now.

[2022-09-12 19:40] #155 closed

[2022-09-13 04:00] #277 closed

[2022-09-15 19:58] Xazin opened #283 "[CHORE]: Upgrade Flutter to newest version"
TBD - anyone can pick it up.

[2022-09-20 17:24] Xazin opened #285 "[SUGGESTION]: Replace auto_route with go_router"
**Is your feature request related to a problem? Please describe.**
We want to change to go_router so that we can get rid of auto_route code generation.

Replace all routes with go_router

@wizlif Please elaborate as much as possible.

[2022-09-20 17:35] Xazin opened #286 "[SUGGESTION]: Include ionicons"
**Is your feature request related to a problem? Please describe.**
We want to include ionicons pre-bundled into the application.

[2022-09-21 05:03] wizlif opened #287 "[SUGGESTION]: Setup deeplinking"
For future simplicity of crowdaction sharing, we can have deeplinks that traverse  directly to the particular shared crowdaction. This will not only be used for crowdactions but we may need to share profiles, achievements  and much more. This will be simplified by use of deeplinks.

[2022-09-21 11:17] #283 closed

[2022-09-25 15:26] developer-rachit commented on #214
Is the edit button on the profile pic will always be there? @laschnik

[2022-09-25 15:31] developer-rachit commented on #262
Not able to reproduce this bug. @Xazin
I think after @wizlif fixed this one https://github.com/CollActionteam/collaction_app/pull/280 its auto fixed.

[2022-09-26 08:48] Xazin commented on #262
It's not fixed. #280 is unrelated.

[2022-10-08 14:11] yasht01 opened #292 "[BUG]: Failed assertion'foregroundImage != null || onForegroundImageError== null': is not true in ProfilePicture widget"
**Describe the bug**
Below error comes up while going to Profile view.
Error:
`'package:flutter/src/material/circle_avatar.dart': Failed assertion: line 76 pos 15: 'foregroundImage != null || onForegroundImageError== null': is not true.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile View from navbar.

**Expected behavior**
User's profile picture should be displayed if it exis

[2022-10-08 14:12] yasht01 commented on #292
On debugging, found out it is something related to the ProfilePicture widget.

[2022-10-08 19:18] Xazin commented on #292
You just need to add a ternary operator to line 36 in this file https://github.com/CollActionteam/collaction_app/blob/development/lib/presentation/profile/widget/profile_picture.dart
[code]
On the phone, so I don't take responsibility for anything wrong haha

[2022-10-08 19:24] yasht01 commented on #292
Okay. I'll test the app after making the change. 👍🏼

[2022-10-09 09:37] yasht01 commented on #224
@Xazin tests for `.toJson()` method for ContactFormDTO have already been implemented. Is there anything more to be implemented for the ContactFormDTO?

[2022-10-22 10:50] developer-rachit commented on #286
Hi, @Xazin @tomsiebring is this only require adding dependency or changing some existing icons to ionicons?
Please confirm.

[2022-10-22 11:45] Xazin commented on #286
This originally stems from @laschnik - so it's up to him what needs to be replaced where. I believe we will keep CollactionIcons though

[2022-10-25 07:13] wizlif commented on #287
This is currently blocked by #290. But it's okay to proceed with the base setup.

[2022-10-25 08:39] #211 closed

[2022-10-25 18:57] wampet commented on #287
Alright.
Thank you

On Tue, Oct 25, 2022 at 10:13 AM Isaac Obella ***@***.***>
wrote:

[2022-11-02 05:23] #262 closed

[2022-11-08 18:35] #286 closed

[2022-11-08 18:47] Xazin opened #305 "[BUG]: Gallery Selector shown after selecting a profile"
**Describe the bug**
Currently when you sign-in as a first-time user, and you upload a profile picture, the "Gallery" selector at the bottom of the screen will still be visible, whereas it should not be there anymore.

To debug this, you should create a test phone number in Firebase, and you should delete that firebase user after each sign-in to simulate the "first-time sign on".

[2022-11-14 04:26] wizlif opened #307 "[SUGGESTION]: Integrate melos to simplify task execution"
We currently need to manually run commands to execute tasks like build_runner, format testing, analyzing etc. These are common tasks that can be run multiple times during development. We can integrate [melos](https://pub.dev/packages/melos) which will act as a *Makefile* for our flutter project, creating shortcuts for all tasks like building buiild_runner.

Some tasks that could be simplified incl

[2022-11-14 06:49] Xazin commented on #307
I think hooks are better in this case. Everyone has git, instead of relying on melos. Everyone would need to install their cli.

Melos is good if you are eg. Developing a federated package/plugin. Not sure it beats git hooks in our usecase though.

[2022-11-14 13:47] wizlif commented on #307
How would we use hooks to execute build_runner ?

I was looking at simplifying some of the commonly used tasks during development so instead of typing
`flutter pub run build_runner watch -d` we could simply have `melos build:watch` alternatively if we don't want to use melos, we can still create a `Makefile` with some of these commands.

[2022-11-14 14:10] wizlif commented on #175
Setup the base for commenting
https://github.com/CollActionteam/collaction_app/pull/304

Comment actions still need some work including:-

- [ ] Like button transitions.
- [ ] Flagging flow.
- [ ] Reply to comment flow.

[2022-11-17 20:32] Chnapik commented on #224
Apologies for marking the entire issue closed.  Only meant to mark the Images DTO task as complete.  Have reopened.

[2022-11-21 18:02] #305 closed

[2022-11-21 18:54] Xazin commented on #224
Updated with some new DTOs on the list

[2022-11-22 09:16] Xazin opened #314 "[UnitTest]: Presentation Layer"
**Description:**
In an attempt to get code coverage above 50%, we should write unit tests for our Widgets.

The minimum coverage per PR should be at least 80%, the target should be 90% for each tested widget.

**Home Widgets:**
- [x] CrowdActionCarousel
- [x] CurrentUpcomingLayout
- [x] PasswordModal

**Profile Widgets:**
- [x] BadgesTab
- [x] CommitmentsTab
- [x] CrowdActionsTab
- [x] ProfilePict

[2022-11-22 17:52] Xazin commented on #314
I'm finished with the above, will continue with:
- [ ] CrowdActionDetailsBanner
- [ ] CrowdActionTitle
- [ ] ShareCollactionButton
- [ ] ShareCollActionCard
- [ ] BadgesTab
- [ ] CommitmentsTab
- [ ] CrowdActionsTab
- [ ] ProfilePicture
- [ ] ShareCollactionListTile
- [ ] CommitmentCard
- [ ] CommitmentCardShimmer
- [ ] TitleShimmerLine
- [ ] TopParticipantsShimmer
- [ ] CenteredLoadingIndicator

[2022-11-23 15:31] Chnapik commented on #224
All DTO unit tests have been completed and pushed to development.

[2022-11-23 16:24] Xazin opened #320 "[CICD]: Improve CI Script w/ caching"
**Description:**
Currently on every step of the CI, we run the build runner to generate code every time. We can improve this flow by using the [cache/action](https://github.com/actions/cache).

It's important to use a key with the build number so that different builds don't end up using the same cached files.

Figure out the best approach and implement it.

[2022-11-23 21:25] Xazin commented on #314
Also covered these:
- [x] CommitmentBadges
- [ ] LegalNotice
- [ ] LicensesPage
- [ ] OnboardingScreen
- [ ] OnboardingStep
- [ ] CenteredLoadingIndicator
- [ ] CommitmentCardShimmer
- [ ] CustomAppBar
- [ ] CustomFAB
- [ ] TopParticipantsShimmer